/*Global*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: monospace;
    height: 100%;
}

/*Main container*/

div#main-container{
    width: 60%;
    margin: auto;
    min-height: 300px;
    background-color: white;
}

/*Top section*/

div#top-section-container{
    background-color: #989898;
    width: 100%;
    min-height: 200px;
    padding:20px 0 20px 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

label{
    display: inline-block;
    text-align: right;
    width: 200px;
    margin-right: 10px;
    font-weight: bold;
}

input {
    font-size: 12px;
    font-family: inherit;
    margin-right: 5px;
}
input.longer-input{
    width: 30%;
}
input.shorter-input{
    width: 5%;
}

div#top-section-container button{
    margin-left: 20%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 20px;
    font: inherit;
}

/*Bottom section*/

div#bottom-section-container{
    width: 100%;
    min-height: 75px;
    background-color: #989898;
    padding:20px 0 20px 0;
}

div#bottom-section-container input{
    border-radius: 10px;
}

div#bottom-section-container button{
    border-radius: 10px;
    border: none;
    padding: 5px 10px 5px 10px;
    font: inherit;
}

button:hover{
    background-color: #0099ff;
}




