/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*Table*/


table{
    width: 1000px;
    margin: auto;
    border-collapse: collapse;
}

td.square{
    width: 111.11px;
    height: 111.11px;
    border: none;
    text-align: center;

}

td.dark-cell{
    background-color: #ff501d;
}

td.light-cell{
    background-color: #ffa819;
}


h1{
    text-align: center;
}

i{
    font-size: 100px;
    opacity: 0.99;
    display: none !important;

}
i.white{
    color: white;
}

button{
    background-color: #0099ff;
    font-family: inherit;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    top:0;
    right: 0;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color: #db4a39;
    cursor: pointer;
}
