/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    background-color: #2e2e2e;
    font-family: monospace;

}

/*Main container*/

div#main-container{
    width: 60%;
    margin: auto;
    padding: 15px 30px 40px 30px;
    min-height: 150px;
    background-color: lightgray;
    color: #666666;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*Header*/

div#main-container h1{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

/*/Input box*/

div#main-container input{
    display: block;
    font-family: inherit;
    color: #666666;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
}

div#input-section{
    min-height: 100px;
    display: flex;
    flex-flow: row;

}
div#left-input-section{

}

textarea{
    display: block;
    font-family: inherit;
    color: #666666;
    padding: 5px;
    resize: none;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    margin-bottom: 10px;

}
button{
    color: white;
    font-family: inherit;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #db4a39;
    padding: 10px;
}
button:hover{
    background-color: #0099ff;
}