/*Global*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Amatic SC', cursive;
}

ul{
    list-style: none;
    font-size: 0;
}

.padding-bottom{
    padding-bottom: 40px !important;
}

/*Fixed Menu*/

#fixed-navigation{
    width: 100%;
    z-index: 9999;
    position: fixed;
    top:0;
    background-color: rgba(46, 46, 46, 0.5);
    display: none;
}
#fixed-navigation:hover{
    background-color: rgba(46, 46, 46, 1);
}
#fixed-navigation li{
    display: inline-block;
    text-align: center;
    padding: 20px;

}
#fixed-navigation li:hover{
    background-color: #989898;
}
#fixed-navigation li a{
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-decoration: none;
    color: white;
}


/*Header*/

header{
    width: 100%;
    height: 90%;
    background: url("https://assets.afcdn.com/recipe/20170105/24149_w1024h768c1cx2592cy1728.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

div#header-container{
    color: white;
    font-size: 60px;
    margin: auto;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

h2{
    color: white;
    font-size: 64px;
    text-align: center;
}

div#header-container h1{
    font-size: 60px;
}
div#header-container button{
    background-color: #2e2e2e;
    border: none;
    font-family: inherit;

}

div#header-container a{
    text-decoration: none;
    color: #e0e0e0;
    font-size: 36px;
    margin: 0 10px 0 10px;
}

div#header-container button:hover{
    background-color: #989898;
}

div#opening-hours-container{
    font-size: 24px;
    text-align: center;
    color: white;
    width: 190px;
    height: 35px;
    background-color: #2e2e2e;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

/*Section 1*/

section#section-1-container{
    background-color: black;
    width: 100%;
    padding: 50px 20px 50px 20px;
    text-align: center;
}
h2{
    color: white;
    font-weight: normal;
    font-size: 64px;
    margin-bottom: 50px;

}

div#menu-container{
    margin: auto;
    background-color: white;
    max-width: 1000px;
}

nav#navigation-container{
    width: 100%;
    border: 1px #666666 solid;
    border-bottom: none;
}
nav#navigation-container li{
    display: inline-block;
    width: 33.33%;
    font-size: 36px;
    color: white;
    background-color: #2e2e2e;
    text-align: center;
    line-height: 50px;
    height: 50px;
}
nav#navigation-container li:hover{
    background-color: #db4a39;
    cursor: pointer;
}

div.meal-container{
    width: 100%;
    padding: 0 20px 0 20px;
    background-color: white;
    font-size: 30px;
    text-align: left;

}

div.price-tag{
    text-align: center;
    padding: 10px;
    background-color: #666666;
    color: white;
    float: right;
    border-radius: 5px;
    margin-top: 30px;
}
div.meal-container h3{
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
}

div.meal-container p{
    clear: left;
    color: #666666;
}

span#hot{
    background-color: #db4a39;
    color: white;
    padding: 5px;
    font-weight: normal;
    border-radius: 5px;
}
span#new{
    background-color: #666666;
    padding: 5px;
    font-weight: normal;
    border-radius: 5px;
}

hr{
    margin-top: 40px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*Section 2*/

section#section-2-container{
    width: 100%;
    padding: 50px 20px 50px 20px;
    background-color: #f44336;
    filter: grayscale(70%);
    text-align: center;
    overflow: hidden;
}

div#section-2-main-container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

section#section-2-container p{
    font-size: 24px;
    text-align: left;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

img#round-picture{
    width: 150px;
    border-radius: 50%;
    float: right;
}

img#pizza-place{
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    clear: both;
}
div#opening-hours{
    font-size: 36px;
    text-align: left;
    color: white;
}

div#left-subsection{
    width: 50%;
    float: left;
}


div#right-subsection{
    width: 50%;
    float: right;
}

/*Google maps*/

iframe{
    width: 100%;
    max-width: 100%;
    height: 100%;
}

/*Section 3*/

section#section-3-container{
    background-color: #607d8b;
    filter: grayscale(50%);
    width: 100%;
    padding: 50px 20px 50px 20px;
}

div#section-3-main-container{
    width: 100%;
    margin: auto;
    max-width: 1000px;
}
div#section-3-main-container p{
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}
div#section-3-main-container p.reserve-table-design{
    font-size: 36px;
}

span#FYI{
    background-color: #2e2e2e;
    padding: 5px;
}

form input{
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    border: none;
    padding: 10px 5px 10px 5px;
    margin-bottom: 20px;
}

form button{
    width: 100%;
    font-family: inherit;
    font-size: 24px;
    border: none;
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
}
form button:hover{
    background-color: #989898;
    cursor: pointer;
}

/*Footer*/

footer{
    background-color: #2e2e2e;
    width: 100%;
}

footer div{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}
footer div p{
    color: white;
    font-size: 36px;
    padding: 35px 0 35px 0;
}
footer div p a{
    color: white;
}
footer div p a:hover{
    color: green;
}


Media queries


@media screen and (min-width: 600px){
    #fixed-navigation{
        display: block;
    }
}